$icicle-w: 10px;

* {
	box-sizing: border-box;
}
.wrapper {
	width: 98vw;
	height: 100vh;
	background: #dddddd;
	border: 5px solid yellow;
	
	position: relative;

	.container {
		width: 20vw;
		height: 80vh;
		margin: 0 auto;
		background: #ffffff;
		position: absolute;
		bottom: 10%;
		left: 45%;
	}

	.icicle-container {
		width: #{$icicle-w * 2};
		height: calc(100% - 100% / 3);
		position: relative;
		margin: 0 auto;
		z-index: 100;
		
		.icicle {
			width: 0;
			height: 0;
			border-left: #{$icicle-w} solid transparent;
			border-right: #{$icicle-w} solid transparent;
			border-top: #{$icicle-w * 10} solid #00aaff;
		}

		.drop-container {
			position: absolute;
			top: 100px;
			left: 0;
			width: 100%;
			height: calc(100% - #{$icicle-w * 10});

			.drop {
				width: #{$icicle-w * 2};
				height: #{$icicle-w * 2};
				border-radius: 50%;
				border: 1px solid #006c9e;
				background-color: #00aaff;
				position: absolute;
				bottom: calc(100% -  #{$icicle-w * 2});

				animation: fall 3s ease-in none infinite;
			}
		}


	}


	.can-container {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% / 3);
		background-color: #553388;

		.water, &:after {
			display: block;
			content: " ";
			position: absolute;
			width: 100%;
			height: 30%;
			border-radius: 50%;
		}

		&:after {
			bottom: calc(-100% / 6);
			background-color: #553388;
		}

		.water {
			top: calc(-100% / 6);
			background-color: #00aaff;
			position: relative;

			.wave {
				width: 0;
				height: 0;
				border-radius: 50%;
				border: 0px solid #006c9e;
				position: absolute;
				top: 50%;
				left: 50%;
				
				animation: wave 3s linear none 3s infinite;
			}
		}
	}

	@keyframes fall {
		from {
			bottom: calc(100% -  #{$icicle-w * 2});
		}
		to {
			bottom: #{$icicle-w};
		}
	}

	@keyframes wave {
		0% {
			width: 0;
			height: 0;
			border: 0px solid #08a6f5;
			top: 50%;
			left: 50%;
		}
		2% {
			border: 2px solid #08a6f5;
		}
		100% {
			width: 100%;
			height: 100%;
			border: 8px solid #08a6f5;
			top: 0;
			left: 0;
		}
	}
}

